.header {
    height: 50vh;
    background: url('../Images/hw3Image.png') no-repeat center center;
    background-size: contain; /* Adjust the size of the image */
    background-position: center; /* Ensure the image is centered */
}
.header-text {
    top: 10%;
    text-shadow: 10px 10px 10px black;
}
.content-section iframe {
    height: 1430px; /* Apply height only to the iframe */
}
.formula {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.fraction .top {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: block;
}
.fraction .bottom {
    display: block;
}
.cases {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
}
.case {
    display: block;
}
.text-green {
    color: #01f01d;
}
.colored-numbers {
    counter-reset: list-counter;
}
.colored-numbers li {
    list-style: none;
    position: relative;
    padding-left: 1.5em;
}
.colored-numbers li::before {
    content: counter(list-counter) ". ";
    counter-increment: list-counter;
    position: absolute;
    left: 0;
    color: #01f01d; /* Change the color of the numbers */
}