html {
  font-size: 14px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  #canvas.border {
    width: 320px !important;
    height: auto !important;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  height: 100% !important;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #333 !important;/* Dark grey background */
  color: white !important; /* Set text color to white */
}

.small-windowed {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #333  !important; /* Slightly lighter background */
  color: white; /* Ensure text is white */
  margin-top: 480px;
  right: 10px; /* Align to the right */
  top: 10px; /* Align to the top */
  width: 200px; /* Set a fixed width */
  z-index: 10; /* Ensure it is on top */
}

label {
  font-weight: bold;
  color: #01f01d; /* Light green color */
  margin-bottom: 5px;
  display: block;
}
input{
  background-color: #333 !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #ff0000;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 10px;
}
